<html>
  <head>
    <title>Miniweb</title>
  </head>
  <body>
    The time is: <%= Time.now %>
    <ul>
      <li><a href='/hello'>Say Hello</a></li>
      <li><a href='/goodbye'>Say Goodbye</a></li>
      <li><a href='/chat'>Visit the chat</a></li>
    </ul>
  </body>
</html>
